@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
@import "@flaticon/flaticon-uicons/css/all/all";
@import "tailwindcss";


@theme{
    --font-quicksand: 'Quicksand', sans-serif;
    --font-nunito: 'Nunito', sans-serif;
    --font-inconsolata: 'Inconsolata', monospace;
}

.nav-link-text {
    @apply text-sm text-gray-700 transition duration-200 border-b-2 border-transparent hover:border-slate-700;
}
.nav-link-text-md {
    @apply text-base text-gray-700 transition duration-200 border-b-2 border-transparent hover:border-slate-700;
}


.nunito-200 {
    @apply font-nunito font-extralight;
}

.nunito-300 {
    @apply font-nunito font-light;
}

.nunito-400 {
    @apply font-nunito font-normal;
}

.nunito-500 {
    @apply font-nunito font-medium;
}

.nunito-600 {
    @apply font-nunito font-semibold;
}

.nunito-700 {
    @apply font-nunito font-bold;
}

.quicksand-200 {
    @apply font-quicksand font-extralight;
}

.quicksand-300 {
    @apply font-quicksand font-light;
}

.quicksand-400 {
    @apply font-quicksand font-normal;
}

.quicksand-500 {
    @apply font-quicksand font-medium;
}

.quicksand-600 {
    @apply font-quicksand font-semibold;
}

.quicksand-700 {
    @apply font-quicksand font-bold;
}